.modal {
  &[data-is-mobile="true"] {
    .modal_bg {
      display: none;
    }
    .modal_container {
      position: static;
      background-color: unset;
      box-shadow: unset;
      border: unset;
      padding: 20px 0px;
    }
  }

  .modal_bg {
    position: fixed;
    inset: 0;
    z-index: 4;
  }

  .modal_container {
    padding: 14px 20px;
    position: absolute;
    right: 10px;
    top: 46px;
    z-index: 5;

    background-color: var(--booking-app-white-color);
    border: 1px solid var(--booking-app-lightgrey-color);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .modal_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .modal_header_text {
        .modal_title {
          display: block;
          font-size: 25px;
          font-family: var(--booking-app-Nunito-Sans-font);
          font-weight: 600;
          color: var(--booking-app-black-color);
          line-height: 100%;
          margin-bottom: 5px;
        }
        .modal_subtitle {
          font-size: 15px;
          font-family: var(--booking-app-Nunito-Sans-font);
          font-weight: 400;
          color: var(--booking-app-grey-color);
          line-height: 100%;
        }
      }
    }
    .calendar_container {
      margin-bottom: 10px;
    }
    .modal_footer {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: flex-end;
      .modal_button {
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 15px;
        font-family: var(--booking-app-Nunito-Sans-font);
        font-weight: 500;
        outline: none;

        transition: all 0.2s ease-in-out;
        &.clear_button {
          text-decoration: underline;
        }
        &.close_button {
          color: var(--booking-app-white-color);
          background-color: var(--booking-app-black-color);
          &:hover {
            scale: 0.97;
          }
        }
      }
    }
  }
}

.date_inputs_container {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;

  &[data-is-separate-modal="true"] {
    gap: 5px;
    padding: 0px;
    .date_inputs_wrap {
      display: block;
      padding: unset;
      background-color: unset;
      border: unset;
      border-radius: unset;
      &::before {
        content: unset;
      }
      .date_label {
        display: none;
      }
      .date_input {
        max-width: 50px;
        text-decoration: underline;
        color: var(--booking-app-black-color);
      }
    }
  }
  .date_inputs_wrap {
    position: relative;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: var(--booking-app-white-color);
    border: 1px solid var(--booking-app-lightgrey-color);

    border-radius: 10px 0px 0px 0px;
    z-index: 5;

    &[data-modal-open="true"] {
      border-radius: 10px 0px 0px 10px;
      &:last-child {
        border-radius: 0px 10px 10px 0px;
      }
    }
    &[data-modal-open="false"] {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border-radius: 9px;
      background-color: transparent;
      border: 2px solid var(--booking-app-black-color);
      opacity: 0;
      z-index: 6;
    }
    &[data-input-selection-checkin="true"] {
      &::before {
        opacity: 1;
      }
    }

    &:last-child {
      border-radius: 0px 10px 0px 0px;

      border-left: unset;
      &[data-input-selection-checkout="true"] {
        &::before {
          opacity: 1;
        }
      }
    }
    .date_label {
      font-size: 10px;
      font-family: var(--booking-app-Nunito-Sans-font);
      font-weight: 700;
      color: var(--booking-app-black-color);
      line-height: 100%;
      text-transform: uppercase;
    }

    .date_input {
      outline: none;
      border: none;
      font-size: 14px;
      font-family: var(--booking-app-Nunito-Sans-font);
      font-weight: 500;
      color: var(--booking-app-grey-color);
      line-height: 100%;
      width: 100%;
    }
  }
}

.edit_button {
  font-size: 15px;
  font-weight: 600;
  text-decoration: underline;
}
@media (width <= 1280px) {
  .date_inputs_container {
    gap: 5px;
    padding: 0px;
    &[data-is-modal-separate="false"] {
      .date_inputs_wrap {
        display: block;
        padding: unset;
        background-color: unset;
        border: unset;
        border-radius: unset;
        &::before {
          content: unset;
        }
        .date_label {
          display: none;
        }
        .date_input {
          max-width: 50px;
          text-decoration: underline;
          color: var(--booking-app-black-color);
        }
      }
    }
  }
}

@media (width <= 1080px) {
  .date_inputs_container {
    &[data-is-modal-separate="true"] {
      .date_inputs_wrap {
        display: block;
        padding: unset;
        background-color: unset;
        border: unset;
        border-radius: unset;
        &::before {
          content: unset;
        }
        .date_label {
          display: none;
        }
        .date_input {
          max-width: 50px;
          text-decoration: underline;
          color: var(--booking-app-black-color);
        }
      }
    }
  }
  .modal {
    &[data-is-modal-separate="false"] {
      .modal_container {
        padding: unset !important;
        .modal_header {
          margin-bottom: 20px;
          .modal_title {
            font-size: 20px;
          }
        }

        .modal_footer {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media (width <= 700px) {
  .modal {
    &[data-is-modal-separate="true"] {
      .modal_container {
        padding: unset !important;
        .modal_header {
          margin-bottom: 10px;
          .modal_title {
            font-size: 20px;
          }
        }

        .modal_footer {
          justify-content: flex-start;
        }
      }
    }
  }
}
