.dropdown {
  .dropdown_menu {
    .dropdown_item {
      span {
        font-size: 15px;
        font-weight: 500;
        font-family: var(--booking-app-Nunito-Sans-font);
        color: var(--booking-app-black-color);
      }
    }
  }
}
.show_case_modal {
  background-color: transparent;
  box-shadow: unset;
  width: 40vw;
  pointer-events: none;
}

.show_case_image {
  padding: 0;
  height: 80dvh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
