.listing_header {
  position: sticky;
  z-index: 13;
  top: 0;

  padding-block: 15px;
  background-color: var(--booking-app-white-color);
  border-bottom: 1px solid var(--booking-app-lightgrey-color);
}
.listing_header_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 70dvw;
  margin: auto;

  .logo_link {
    flex-grow: 1;
    display: flex;
    .logo {
      width: 40px;
      height: 40px;
    }
  }
}

@media (width <= 1280px) {
  .listing_header {
    padding-inline: 20px;
    .listing_header_nav {
      max-width: unset;
    }
  }
}
