.slick-dots {
  bottom: 15px !important;
  pointer-events: none !important;

  li,
  button,
  button::before {
    width: 13px !important;
    height: 13px !important;
  }

  li {
    margin: 0 !important;
    button {
      &::before {
        font-size: 8px !important;
        color: var(--booking-app-white-color) !important;
        opacity: 0.5 !important;
      }
    }

    &:last-child,
    &:first-child {
      button {
        &::before {
          font-size: 7px !important;
        }
      }
    }

    &.slick-active {
      &:first-child,
      &:last-child {
        button {
          &::before {
            font-size: 8px !important;
          }
        }
      }
      button {
        &::before {
          opacity: 1 !important;
        }
      }
    }
  }
}
