.category_container {
  padding-inline: 50px;
  min-height: 86px;

  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  background-color: var(--booking-app-white-color);

  z-index: 5;
  overflow: visible;
  transition: top 0.3s ease-in-out, border 0.2s ease-in-out;
  &[data-scrolled="true"] {
    border-bottom: 1px solid var(--booking-app-lightgrey-color);
  }
  .filter_btn {
    background-color: transparent;
    border: 1px solid var(--booking-app-focused-background-color);
    color: var(--booking-app-black-color);
    svg {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
    }
    &:hover,
    &[data-opened="true"] {
      border-color: var(--booking-app-black-color);
      color: var(--booking-app-black-color) !important;
    }
  }
}

.category_wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 100%;
  max-height: 300px;
  background-color: var(--booking-app-white-color);
}
.category,
.skeleton_macket {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-block: 20px;
  flex-shrink: 0;
  &.search {
    pointer-events: none;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      right: -20px;
      width: 1px;
      height: 50%;
      background-color: var(--booking-app-lightgrey-color);
    }
    &::before {
      opacity: 1;
      background-color: var(--booking-app-black-color);
    }
    .category_text {
      color: var(--booking-app-black-color);
    }
  }
  &[data-selected="true"] {
    &::before {
      opacity: 1;
      background-color: var(--booking-app-black-color);
    }
    .category_text {
      color: var(--booking-app-black-color);
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    transform-origin: center;
    background-color: var(--booking-app-focused-background-color);
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
    opacity: 0;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  .category_img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    path {
      fill: var(--booking-app-black-color);
    }
  }
  .category_text {
    font-size: 12px;
    font-family: var(--booking-app-Nunito-Sans-font);
    font-weight: 600;
    line-height: 100%;
    color: var(--booking-app-grey-color);
    text-transform: capitalize;
  }
}

.skeleton_macket {
  .skeleton {
    flex-shrink: 0;
    border-radius: 5px;
  }
  .skeleton_img {
    width: 24px;
    height: 24px;
  }
  .skeleton_text {
    width: 64px;
    height: 12px;
  }
}
@media (width <= 1080px) {
  .category_container {
    top: 113px;
    &[data-scrolled="true"] {
      top: 113px;
    }
  }
}
@media (width <= 768px) {
  .category_container {
    gap: 20px;
    padding-inline: 20px;
    top: 93px;
    &[data-scrolled="true"] {
      top: 93px;
    }
  }
}
