.header_container {
  padding: 20px 50px;
  max-width: 1760px;
  margin: auto;
  border-bottom: 1px solid var(--booking-app-lightgrey-color);
}
.top_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .logo {
    position: relative;
    z-index: 3;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
.center_nagivation_menu {
  .center_nagivation_menu_buttons {
    display: flex;
    align-items: center;
    .center_nagivation_menu_button {
      color: var(--booking-app-grey-color);
      font-family: var(--booking-app-Nunito-Sans-font);
      font-size: 18px;
      font-weight: 300;
      border-radius: 20px;
      padding: 10px 15px;
      transition: all 0.1s ease-in-out;
      position: relative;
      z-index: 3;
      &:hover {
        color: var(--booking-app-black-color);
        &:nth-child(1) {
          &[data-state="false"] {
            background-color: var(--booking-app-background-hover-color);
          }
        }
        &:nth-child(2) {
          &[data-state="true"] {
            background-color: var(--booking-app-background-hover-color);
          }
        }
      }
      &:nth-child(1) {
        &[data-state="true"] {
          color: var(--booking-app-black-color);
          font-weight: 500;
          &:hover {
            color: var(--booking-app-black-color);
          }
        }
      }
      &:nth-child(2) {
        &[data-state="false"] {
          color: var(--booking-app-black-color);
          font-weight: 500;
          &:hover {
            color: var(--booking-app-black-color);
          }
        }
      }
    }
  }
}
