.error_wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100dvh;
  max-width: 400px;
  margin: auto;
  svg {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
  }
  h2,
  p {
    font-family: var(--booking-app-Nunito-Sans-font);
    font-weight: 700;
    color: var(--booking-app-black-colo);
  }
  h2 {
    font-size: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      font-family: var(--booking-app-Nunito-Sans-font);
      font-weight: 600;
      font-size: 16px;
    }
  }
}
