@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
:root {
  --booking-app-Nunito-Sans-font: "Nunito Sans", sans-serif;
  --booking-app-white-color: #fff;
  --booking-app-black-color: #2f2f2f;
  --booking-app-grey-color: #767676;
  --booking-app-darkgrey-color: #484848;
  --booking-app-background-hover-color: #f7f7f7;
  --booking-app-focused-background-color: #ddd;
  --booking-app-lightgrey-color: #ebebeb;
  --booking-app-coral-color: #ff395c;
}
body {
  background-color: var(--booking-app-white-color);
  &.disable-scroll {
    overflow: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
button {
  background-color: unset;
  border: none;
}
button,
svg,
li,
a {
  cursor: pointer;
}
a {
  text-decoration: unset;
}
