@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-big-calendar/lib/sass/styles";
:root {
  --booking-app-Nunito-Sans-font: "Nunito Sans", sans-serif;
  --booking-app-white-color: #fff;
  --booking-app-black-color: #2f2f2f;
  --booking-app-grey-color: #767676;
  --booking-app-darkgrey-color: #484848;
  --booking-app-background-hover-color: #f7f7f7;
  --booking-app-focused-background-color: #ddd;
  --booking-app-lightgrey-color: #ebebeb;
  --booking-app-coral-color: #ff395c;
}
body {
  background-color: var(--booking-app-white-color);
  &.disable-scroll {
    overflow: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
button {
  background-color: unset;
  border: none;
}
button,
a {
  cursor: pointer;
}
a {
  text-decoration: unset;
}

.toast {
  font-size: 14px;
  font-family: var(--booking-app-Nunito-Sans-font);
  font-weight: 600;
  color: var(--booking-app-black-color);
  &.error {
    color: var(--booking-app-coral-color);
  }
}

.z-0 {
  z-index: unset !important;
}

.custome_tooltip {
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 7px;
  border: unset !important;
  font-family: var(--booking-app-Nunito-Sans-font);
  div {
    border: unset;
  }
  &.warning {
    color: var(--booking-app-coral-color);
  }
  &.info {
    color: var(--booking-app-black-color);
  }
  &.black {
    color: var(--booking-app-white-color);
    background-color: var(--booking-app-black-color);
  }
}
