.listing_page_container {
  padding-block: 50px;
  max-width: 1300px;
  margin: auto;
}

.title_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .welcoming_text {
    text-transform: capitalize;
    font-size: 30px;
  }
  .create_listing_button {
    background-color: transparent;
    border: 1px solid var(--booking-app-black-color);
    color: var(--booking-app-black-color);
    font-family: var(--booking-app-Nunito-Sans-font) !important;
    font-weight: 600;
  }
}
.listings_container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.listing_in_progress {
  text-align: left;
  position: relative;
  max-width: 300px !important;
  .skeleton {
    border-radius: 15px;
    margin-bottom: 5px;
  }
  .listing_in_progress_img {
    max-width: 300px !important;
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
  .listing_in_progress_text {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--booking-app-Nunito-Sans-font);
    color: var(--booking-app-black-color);
    span {
      font-weight: 600;
    }
  }
}

@media (width <= 1280px) {
  .listing_page_container {
    padding-inline: 20px;
  }
}
