.payment_element {
  margin-bottom: 20px;
}
.paymet_skeleton {
  margin-bottom: 20px;
  .main_skeleton {
    width: 100%;
    height: 64px;
    border-radius: 15px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .date_cvv_container {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    .date_cvv_skeleton {
      width: 50%;
      height: 64px;
      border-radius: 15px;
    }
  }
}
.submit_checkout_button {
  width: 100%;

  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--booking-app-focused-background-color);
  font-size: 17px;
  font-weight: 600;
  font-family: var(--booking-app-Nunito-Sans-font);

  color: var(--booking-app-white-color);
  background-color: var(--booking-app-coral-color);

  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 0.98;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.login_to_procces {
  .title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: var(--booking-app-black-color);
    font-family: var(--booking-app-Nunito-Sans-font);
    line-height: 100%;
    margin-bottom: 15px;
  }
  .login_button {
    width: 100%;
    padding: 10px 20px;

    border-radius: 10px;
    background-color: var(--booking-app-coral-color);

    font-size: 16px;
    font-family: var(--booking-app-Nunito-Sans-font);
    font-weight: 600;
    color: var(--booking-app-white-color);

    transition: all 0.2s ease-in-out;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &:hover {
      scale: 0.98;
    }
  }
}
