.auth_top_img {
  position: absolute;
  top: -31%;
  left: 2%;
  max-width: 200px;
  &[data-modal-increased="true"] {
    top: -25%;
  }
}
.authorization_modal {
  padding-bottom: 30px;
  .modal_header {
    padding: 30px 20px 20px;
    .authorization_modal_text {
      .modal_title,
      .modal_note {
        overflow: hidden;
        p,
        h2 {
          color: var(--booking-app-black-color);
          font-family: var(--booking-app-Nunito-Sans-font);
          font-weight: 700;
          font-size: 22px;
          line-height: 100%;
        }
      }

      .modal_note p {
        color: var(--booking-app-focused-background-color);
        font-size: 21px;
      }
    }
  }
  .modal_body {
    padding-inline: 20px;
  }
}
.authorization_form {
  .oauth_buttons {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--booking-app-focused-background-color);
    .oauth_button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 5px 10px;
      border: 1px solid var(--booking-app-focused-background-color);
      border-radius: 5px;
      max-width: 100%;
      width: 100%;

      color: var(--booking-app-black-color);
      font-size: 15px;
      font-weight: 500;
      font-family: var(--booking-app-Nunito-Sans-font);
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      svg {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
      }
    }
  }

  .authorization_input_wrap {
    position: relative;
    margin-bottom: 35px;
    .authorization_input {
      padding: 5px 10px;
      border: 1px solid var(--booking-app-focused-background-color);
      border-radius: 5px;
      max-width: 100%;
      width: 100%;
      color: var(--booking-app-black-color);
      font-size: 15px;
      font-weight: 400;
      font-family: var(--booking-app-Nunito-Sans-font);
      margin-bottom: 5px;
      position: relative;
      box-shadow: 0 0 0 2px rgba(255, 57, 92, 0);
      transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      &:active,
      &:focus,
      &:not(:placeholder-shown) {
        outline: none;
        border: 1px solid var(--booking-app-coral-color);
        box-shadow: 0 0 0 2px rgba(255, 57, 92, 0.7);
      }
    }
    .authorization_input_label {
      position: absolute;
      left: 0;
      top: -30%;
      color: var(--booking-app-grey-color);
      font-size: 12px;
      font-weight: 500;
      font-family: var(--booking-app-Nunito-Sans-font);
    }
    .input_note {
      color: var(--booking-app-focused-background-color);
      font-size: 12px;
      font-weight: 500;
      font-family: var(--booking-app-Nunito-Sans-font);
    }
  }
}
.authorization_submit_button {
  padding: 5px 10px;
  border: 1px solid var(--booking-app-coral-color);
  background-color: var(--booking-app-coral-color);
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  color: var(--booking-app-white-color);
  font-size: 15px;
  font-weight: 600;
  font-family: var(--booking-app-Nunito-Sans-font);
  margin-bottom: 5px;
}

.authorization_icon_button {
  color: var(--booking-app-grey-color);
  font-family: var(--booking-app-Nunito-Sans-font);
  font-size: 18px;
  font-weight: 300;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 3;
  svg {
    path {
      fill: var(--booking-app-coral-color);
    }
  }
  &:hover {
    color: var(--booking-app-black-color);
    background-color: var(--booking-app-background-hover-color);
    svg {
      path {
        fill: var(--booking-app-black-color);
      }
    }
  }
}
