.payment_succes_container {
  max-width: 70dvw;
  height: 100dvh;
  margin: auto;
}

.proccesing_block_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.proccesing_block {
  max-width: 600px;
  width: 100%;
  position: relative;

  padding: 30px;
  background-color: var(--booking-app-white-color);
  border: 1px solid var(--booking-app-lightgrey-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  .sittingB {
    position: absolute;
    transform: translate(-80px, -90%);
    width: 130px;
    height: 160px;
  }
}
.status_and_message {
  margin-bottom: 30px;
  .status {
    padding: 2px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    z-index: 3;
    border: 1px solid;

    max-width: fit-content;
    margin-bottom: 5px;
    &[data-loading-status="true"] {
      .circle {
        animation: live 1s infinite linear;
      }
    }
    .circle {
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }
    .status_text {
      font-size: 14px;
      font-weight: 600;
      font-family: var(--booking-app-Nunito-Sans-font);
    }
  }
  .message,
  .dotes {
    font-size: 13px;
    font-weight: 500;
    font-family: var(--booking-app-Nunito-Sans-font);
    color: var(--booking-app-grey-color);
  }
  .dote {
    &:nth-child(1) {
      animation: live 1s infinite linear forwards;
    }
    &:nth-child(2) {
      animation: live 1.5s infinite linear forwards;
    }
    &:nth-child(3) {
      animation: live 2s infinite linear forwards;
    }
  }
}

.reservation_listing_info,
.reservation_listing_info_skeleton {
  background-color: var(--booking-app-white-color);

  border-radius: 10px;

  flex-grow: 1;
  max-width: 450px;

  margin-bottom: 20px;
}

.reservation_listing_info_skeleton {
  min-height: 110px;

  width: 100%;
}

.reservation_listing_title_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  .listing_image {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  .listing_info {
    .listing_title,
    .listing_description {
      font-family: var(--booking-app-Nunito-Sans-font);
      color: var(--booking-app-black-color);
    }
    .listing_title {
      font-size: 18px;
      font-weight: 500;
    }
    .listing_description {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .listing_accomplishments {
    display: flex;
    align-items: center;
    gap: 10px;
    .super_host {
      .host_badge {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
      .super_host_text {
        font-size: 14px;
        font-weight: 400;
        color: var(--booking-app-black-color);
        font-family: var(--booking-app-Nunito-Sans-font);
      }
    }
  }
}

.reservation_details_about_host_and_guest {
  .reservation_info_details_block {
    display: flex;
    align-items: center;
    gap: 5px;
    &:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid var(--booking-app-lightgrey-color);
    }
    &:last-child {
      margin-bottom: 15px;
    }

    .reservation_details_title,
    .reservation_details_description {
      color: var(--booking-app-black-color);
      font-family: var(--booking-app-Nunito-Sans-font);
    }
    .reservation_details_title {
      font-size: 14px;
      font-weight: 600;
    }
    .reservation_details_description {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .message_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .reservation_details_description {
      padding: 5px 10px;
      border: 1px solid var(--booking-app-lightgrey-color);
      border-radius: 10px;
    }
  }
}

.next_step_button {
  width: 100%;

  padding: 10px 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  font-family: var(--booking-app-Nunito-Sans-font);

  color: var(--booking-app-white-color);
  background-color: var(--booking-app-coral-color);

  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 0.98;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--booking-app-black-color);
  font-family: var(--booking-app-Nunito-Sans-font);
  line-height: 100%;
  margin-bottom: 15px;
}

@keyframes live {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
