.select_date {
  .calendar_container {
    padding-top: 15px;
  }
}
.section_title {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--booking-app-Nunito-Sans-font);
  color: var(--booking-app-black-color);
  line-height: 100%;
  margin-bottom: 20px;
}

.section_subtitle {
  font-size: 14px;
  font-family: var(--booking-app-Nunito-Sans-font);
  font-weight: 400;
  color: var(--booking-app-grey-color);
  line-height: 130%;
}
