.right_navigation_button {
  color: var(--booking-app-grey-color);
  font-family: var(--booking-app-Nunito-Sans-font);
  font-size: 18px;
  font-weight: 300;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 3;
  outline: none;

  .user_img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    &.no_user_image {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      font-family: var(--booking-app-Nunito-Sans-font);
      color: var(--booking-app-white-color);
      text-transform: capitalize;
      background-color: var(--booking-app-black-color);
    }
  }

  svg {
    width: 30px;
    height: 30px;
    path {
      fill: var(--booking-app-coral-color);
      transition: fill 0.2s ease-in-out;
    }
  }

  &:hover {
    color: var(--booking-app-black-color);
    background-color: var(--booking-app-background-hover-color);
  }
}
.role_badge,
.notifications_badge {
  position: absolute;
  z-index: 1;

  border-radius: 50%;
  path {
    fill: var(--booking-app-coral-color);
  }
}
.role_badge {
  top: 0;
  right: 0;

  padding: 1px;
  .role_icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.notifications_badge {
  top: 7px;
  right: 7px;

  width: 6px;
  height: 6px;
  background-color: var(--booking-app-coral-color);
}
